parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$nodeName on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Content/ContentExtractorTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 8
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php

		-
			message: '#^Cannot call method getAttribute\(\) on DOMNameSpaceNode\|DOMNode\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php

		-
			message: '#^Unable to resolve the template type TValue in call to function expect$#'
			identifier: argument.templateType
			count: 2
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php

		-
			message: '#^Strict comparison using \!\=\= between '''' and '''' will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: tests/Integration/ContentTypes/ContentTypesManagerTest.php



		-
			message: '#^Cannot access property \$paragraph on DocxMerge\\Dto\\MarkerLocation\|null\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/Unit/Marker/MarkerLocatorTest.php


		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Numbering/NumberingMergerTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Numbering/NumberingMergerTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 4
			path: tests/Unit/Numbering/NumberingResequencerTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 7
			path: tests/Unit/Numbering/NumberingResequencerTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Relationship/RelationshipManagerTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 19
			path: tests/Unit/Remapping/IdRemapperTest.php

		-
			message: '#^Cannot access property \$nodeValue on DOMNameSpaceNode\|DOMNode\|null\.$#'
			identifier: property.nonObject
			count: 10
			path: tests/Unit/Remapping/IdRemapperTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 19
			path: tests/Unit/Remapping/IdRemapperTest.php

		-
			message: '#^Parameter \#1 \$contentNodes of method DocxMerge\\Remapping\\IdRemapper\:\:remap\(\) expects list\<DOMNode\>, list\<DOMNameSpaceNode\|DOMNode\|null\> given\.$#'
			identifier: argument.type
			count: 9
			path: tests/Unit/Remapping/IdRemapperTest.php


		-
			message: '#^Cannot access property \$nodeValue on DOMNameSpaceNode\|DOMNode\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Section/SectionPropertiesApplierTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Section/SectionPropertiesApplierTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Style/StyleMergerTest.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: tests/Integration/Validation/DocumentValidatorTest.php

		-
			message: '#^Strict comparison using \!\=\= between '''' and '''' will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: tests/Integration/Validation/DocumentValidatorTest.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/Unit/Xml/XmlHelperTest.php

		-
			message: '#^Cannot access property \$nodeName on DOMElement\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Unit/Xml/XmlHelperTest.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Unit/Xml/XmlHelperTest.php

